<div class="chat chat-<%= message.user.present? ? "end" : "start" %>">

  <div class="chat-image avatar placeholder">
    <div class="w-12 rounded-full bg-neutral text-neutral-content">
      <% if message.user.present? %>
        <%= render "users/avatar", { user: message.user, initials: message.user.initials } %>
      <% else %>
        <span><%= lucide_icon("bot") %></span>
      <% end %>
    </div>
  </div>
  <div class="chat-header">
    <%= message.user.present? ? message.user.first_name : "System" %>
  </div>
  <div
    class="chat-bubble <%= message.user.present? ? "" : "chat-bubble-primary" %>"
  ><%= message.content %></div>

</div>
