<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Sign in</h1>

  <%= form_with url: session_url, class: "mx-auto mb-0 mt-8 space-y-4" do |form| %>
    <label class="input input-bordered flex items-center gap-2">
      <%= lucide_icon("mail") %>
      <%= form.email_field :email_address,
                       class: "grow border-none",
                       placeholder: "Enter your email address",
                       value: params[:email_address] %>
    </label>

    <label class="input input-bordered flex items-center gap-2">
      <%= lucide_icon("key") %>
      <%= form.password_field :password,
                          required: true,
                          autocomplete: "current-password",
                          placeholder: "Enter your password",
                          maxlength: 72,
                          class: "grow border-none" %>
    </label>

    <div class="flex flex-row justify-between items-center">
      <div id="signin" class="flex flex-row items-center gap-4">
        <%= form.submit "Sign in", class: "btn btn-primary" %>
        <%= link_to "Forgot password?", new_password_path, class: "text-gray-700 underline" %>
      </div>
      <span class="text-gray-700">Don't have an account? sign up
        <%= link_to "here", new_user_path, class: "underline" %></span>
    </div>
  <% end %>
</div>
