<%= form_with model: Message.build, class: "w-full flex flex-col gap-2" do |f| %>
  <%= f.hidden_field :chat_id, value: (chat.present? ? chat.id : nil) %>
  <label class="form-control w-full">
    <div class="label">
      <span class="label-text">Select the collections to chat with</span>
    </div>
    <%= f.select :collection_ids,
             policy_scope(Collection).collect { |c| [c.title, c.id] },
             { multiple: true },
             class: "select select-bordered w-full" %>
  </label>
  <div class="flex flex-row gap-2">
    <%= f.text_area :content,
                class: "textarea textarea-bordered w-full",
                placeholder: "Type a message..." %>
    <button type="submit" class="btn btn-primary h-full">
      <%= lucide_icon("send") %>
    </button>
  </div>
<% end %>
