<tr>
  <td><%= document.id %></td>
  <td><%= document.name %></td>
  <td><%= document.file.content_type %></td>
  <td><%= number_to_human_size(document.file.byte_size) %></td>
  <td><%= document.user.full_name %></td>
  <td><%= document.created_at.strftime("%b %d, %Y") %></td>
</tr>
