<% field_classes = "file-input file-input-bordered w-full" %>
<% label_classes = "label-text" %>
<% if document.errors.any? %>
  <% field_classes = "#{field_classes} file-input-error" %>
  <% label_classes = "#{label_classes} text-error" %>
<% end %>

<%= form_with model: document, class: "mx-auto mb-0 mt-8 max-w-md space-y-4" do |form| %>
  <label class="form-control w-full">
    <div class="label">
      <span class="label-text">Collection to add document</span>
    </div>
    <%= form.select :collection_id,
                policy_scope(Collection).map { |c| [c.title, c.id] },
                { include_blank: "Select Collection" },
                class: "select select-bordered w-full",
                selected: @collection.present? ? @collection.id : nil,
                disabled: @collection.present? %>
  </label>
  <label class="form-control w-full">
    <div class="label">
      <span class="<%= label_classes %>">Add Document</span>
    </div>
    <%= form.file_field :file, class: field_classes %>
    <% if document.errors.any? %>
      <div class="label">
        <span class="label-text-alt text-error">
          <%= document.errors.full_messages_for(:file).join(", ") %>
        </span>
      </div>
    <% end %>
  </label>
  <%= form.button nil, class: "btn btn-block btn-primary" do %>
    <%= lucide_icon("upload") %>
    Upload Document
  <% end %>
<% end %>
