<% field_classes = "file-input file-input-bordered w-full" %>
<% label_classes = "label-text" %>
<% if document.errors.any? %>
  <% field_classes = "#{field_classes} file-input-error" %>
  <% label_classes = "#{label_classes} text-error" %>
<% end %>

<%= form_with model: document, class: "mx-auto mb-0 mt-8 max-w-md space-y-4" do |form| %>
  <%= form.hidden_field :title %>
  <label class="form-control w-full">
    <div class="label">
      <span class="<%= label_classes %>">Add Document</span>
    </div>
    <%= form.file_field :file, class: field_classes %>
    <% if document.errors.any? %>
      <div class="label">
        <span class="label-text-alt text-error">
          <%= document.errors.full_messages_for(:file).join(", ") %>
        </span>
      </div>
    <% end %>
  </label>
  <%= form.button nil, class: "btn btn-block btn-primary" do %>
    <%= lucide_icon("upload") %>
    Upload Document
  <% end %>
<% end %>
