<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Rails Rag</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <% if authenticated? %>
        <li><%= link_to "Chat", chat_index_path, class: is_active?("chat") %></li>
        <li><%= link_to "Documents", documents_path, class: is_active?("documents") %></li>
        <li><%= link_to "Collections", collections_path, class: is_active?("collections") %></li>
        <li><%= button_to "Sign out", session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", new_session_path, class: is_active?("sessions") %></li>
      <% end %>
    </ul>
  </div>
</div>
